* {
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

/* #navbar {
    background-color: red;
}

.nav-link {
    color: black;
}

.navbar-toggler {
    color: black;
}

.navbar-brand {
    color: black;
} */


.arrow-divider {
    text-align: center;
}

.heading-ornamental-line {
    display: block;
    margin: 30px auto;
}
.ornamental-line {
    display: block;
    margin: 5px auto 10px auto;
    width: 200px;
}

@keyframes pulse {
    0% {
      background-color: rgb(189, 189, 189);
    }
    100% {
      background-color:  #333333;
    }
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333333;
    color: #F8F9FA;
    animation: pulse 5s 1;
}

.heading {
    text-align: center;
    font-size: 3.5em;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1px;
}

.subheading {
    display: flex;
    flex-direction: row;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

.subheading h4 {
    text-align: center;
    padding: 5px 5px 50px 5px;
}


.frame {
    margin: 100px auto 25px auto;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    overflow: hidden;
}

.zoomin img {
    height: 250px;
    width: 250px;
    -webkit-transition: all 2s ease;
       -moz-transition: all 2s ease;
        -ms-transition: all 2s ease;
            transition: all 2s ease;
}

.zoomin img:hover {
    width: 350px;
    height: 350px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #F8F9FA;
    color: #333333;
}

.portfolio h1 {
    padding-top: 40px;
    padding-bottom: 20px;
    text-shadow: 1px 1px 3px #999999;
}

.portfolio-screenshots img {
    margin: auto;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(102,102,102,1);
    -moz-box-shadow: 5px 5px 10px 0px rgba(102,102,102,1);
    box-shadow: 5px 5px 10px 0px rgba(102,102,102,1);
}

@keyframes bounce {
    0%, 100% {
        -webkit-transform: translateY(0);
		transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-15px);
		transform: translateY(-15px);
    }
}

.portfolio-screenshots img:hover {
    animation-name: bounce;
    animation-duration: .75s; 
    animation-timing-function: ease-in-out; 
    animation-delay: .2s;
    animation-iteration-count: 1;
    animation-play-state: running;
}

/* .portfolio-screenshots p {
    text-align: center;
    padding-bottom: 20px;
} */

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #333333;
    color: #F8F9FA;
}

.about-me h1 {
    padding-top: 40px;
}

.about-me-paragraphs {
    padding: 20px 0 40px 0;
    margin: auto;
    text-align: left;
}

.contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #F8F9FA;
    color: #333333;
    text-shadow: 1px 1px 3px #999999;
}

.contact-me h1 {
    padding-top: 40px;
    padding-bottom: 20px;
}

#contact-form {
    padding: 20px;
}

.footer {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #333333;
    color: #F8F9FA;
}

.footer-contact {
    list-style: none;
    margin: auto;
    padding: 20px 0;
    font-size: .90em;
}

.footer-icons {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-icons a {
    padding: 20px;
    font-size: 3em;
    color: #f8f9fa;
}

.footer-icons a:hover {
    color: rgb(189, 189, 189);
}

#contact-button {
    margin: 40px auto 60px auto;
}


/* mobile */
@media screen and (min-width: 360px) {
    .portfolio-screenshots {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .portfolio-screenshots img {
        width: 340px;
        padding: 20px 0;
    } 

    .about-me-paragraphs {
        display: grid;
        grid-template-columns: 1fr;
    }

    .about-me-paragraphs p {
        width: 340px;
    }

} 

/* tablet  */
@media screen and (min-width: 700px) {
    .portfolio-screenshots {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .portfolio-screenshots img {
        width: 350px;
        padding: 20px 0;
    }  

    .about-me-paragraphs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }

    .about-me-paragraphs p {
        width: 300px;
    }
} 

/* desktop */
@media screen and (min-width: 1000px) {
    .portfolio-screenshots {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .portfolio-screenshots img {
        width: 300px;
        padding-bottom: 20px;
    }

    .about-me-paragraphs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }

    .about-me-paragraphs p {
        width: 420px;
    }
    
}    

